.container {
  background-color: #f0f0f0;
  min-height: 88.7vh; /* Asegura que el contenedor ocupe todo el alto */
  display: flex;
  flex-direction: column; /* Permite que los hijos se apilen verticalmente */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #0070f3; /* Color de fondo del navbar */
  color: white;
  position: relative; /* Asegura que el contenido absoluto se alinee correctamente */
  z-index: 1; /* Asegura que el navbar esté por encima */
}
.navLinks {
  display: flex;
  gap: 20px; /* Espaciado entre los enlaces */
}

.navLink {
  color: white; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
  font-size: 25px; /* Tamaño de fuente de los enlaces */
}

.navLink:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
.accordion-item {
  position: relative; /* Necesario para el posicionamiento absoluto del contenido */
}

.accordionBody {
  position: absolute; /* Posiciona el contenido de forma absoluta */
  
 
  right: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
  padding: 20px;
  margin: 1px;
  border-radius: 0 0 8px 8px; /* Bordes redondeados en la parte inferior */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: opacity 0.3s ease-out; /* Solo cambiar la opacidad */
  opacity: 0; /* Oculta el contenido inicialmente */
  visibility: hidden; /* Evita que ocupe espacio cuando está oculto */
  z-index: 0; /* Mantiene el acordeón detrás del navbar */
}

.accordionBody.show {
  opacity: 1; /* Muestra el contenido */
  visibility: visible; /* Asegura que el contenido sea visible */
  z-index: 1; /* Asegura que el acordeón esté por encima */
}

.logoutButton {
  color: red;
  border: 2px solid transparent;
  background: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: border 0.3s, color 0.3s, background-color 0.3s;
}

.logoutButton:hover {
  border: 2px solid red;
  color: white; /* Cambia el color de texto al pasar el mouse */
  background-color: red; /* Cambia el fondo al pasar el mouse */
}
  .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #0070f3;
  }
  
  .contactInfo {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .subtitle {
    font-size: 28px;
    margin-bottom: 15px;
    color: #0070f3;
  }
  
  .mapContainer {
    margin-bottom: 30px;
  }
  
  .form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input:focus, .textarea:focus {
    border-color: #0070f3;
    outline: none;
  }
  
  .textarea {
    height: 150px; /* Ajusta la altura según necesites */
  }
  
  .submitButton {
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }
  .footer {
    background-color: #0070f3; /* Color de fondo del footer */
    color: white;
    text-align: center;
    min-height: 100%;
    padding: 20px 0;
    margin-top: auto; /* Asegura que el footer esté al final de la página */
  }
  
  .footerContent {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .socialLinks {
    margin-top: 10px;
  }
  
  .socialLink {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  
  .socialLink:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
  }
  .formContainer {
    margin: 30px auto; /* Espaciado superior e inferior */
    max-width: 800px; /* Limita el ancho del contenedor */
    display: flex; /* Usa flexbox para colocar elementos en fila */
    gap: 50px; /* Espaciado entre el formulario y el mapa */
    align-items: baseline;
  }
  
  .form {
    flex: 1;
    width: 500px; /* Permite que el formulario ocupe espacio disponible */
  }
  
  .mapContainer {
    flex: 1; /* Permite que el mapa ocupe espacio disponible */
    min-width: 300px; /* Ancho mínimo para el mapa */
  }
  
  