.container {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #1d3557  ; /* Color de fondo del navbar */
  color: white;
  position: relative; /* Asegura que el contenido absoluto se alinee correctamente */
  z-index: 1; /* Asegura que el navbar esté por encima */
}

.navLinks {
  display: flex;
  gap: 20px; /* Espaciado entre los enlaces */
}

.navLink {
  color: white; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
  font-size: 25px; /* Tamaño de fuente de los enlaces */
}

.navLink:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
.eventDetails {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eventCard {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.eventTitle {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.eventDate {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.eventDescription {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.eventInfo p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.backButton {
  display: inline-block;
  padding: 12px 20px;
  background-color: #1d3557;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.backButton:hover {
  background-color: #457b9d;
}

.footer {
  background-color: #1d3557;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.socialLinks {
  margin-top: 10px;
}

.socialLink {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.socialLink:hover {
  text-decoration: underline;
}

.accordion-item {
  position: relative; /* Necesario para el posicionamiento absoluto del contenido */
}


.userMenu {
  position: relative;
}

.userButton {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
  transition: transform 0.2s;
}

.userButton:hover {
  transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 200px;
  text-align: center;
  z-index: 10;
  animation: fadeIn 0.3s ease-out;
}

.greeting {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.logoutButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
