
.container {
  background-color: #f0f0f0;
  min-height: 100vh; /* Asegura que el contenedor ocupe todo el alto */
  display: flex;
  flex-direction: column; /* Permite que los hijos se apilen verticalmente */
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
}

.eventList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.eventCard {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.eventTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.eventDate {
  color: #777;
  margin-bottom: 15px;
}

.eventDescription {
  font-size: 16px;
  margin-bottom: 20px;
}

.button {
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #0070f3; /* Color de fondo del navbar */
  color: white;
}

.logo {
  font-size: 24px; /* Tamaño del logo */
  text-decoration: none; /* Sin subrayado */
}

.navLinks {
  display: flex;
 
  gap: 20px; /* Espaciado entre los enlaces */
}

.navLink {
  color: white; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */

  font-size: 25px; /* Tamaño de fuente de los enlaces */
}

.navLink:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
