.container {
  background-color: #f0f0f0;
  min-height: 88.7vh; /* Asegura que el contenedor ocupe todo el alto */
  display: flex;
  flex-direction: column; /* Permite que los hijos se apilen verticalmente */
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.eventList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  margin: 2rem;
}

.eventCard {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.eventTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.eventDate {
  color: #777;
  margin-bottom: 15px;
}

.eventDescription {
  font-size: 16px;
  margin-bottom: 20px;
}

.button {
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #0070f3; /* Color de fondo del navbar */
  color: white;
  position: relative; /* Asegura que el contenido absoluto se alinee correctamente */
  z-index: 1; /* Asegura que el navbar esté por encima */
}

.logo {
  font-size: 24px; /* Tamaño del logo */
  text-decoration: none; /* Sin subrayado */
}

.navLinks {
  display: flex;
  gap: 20px; /* Espaciado entre los enlaces */
}

.navLink {
  color: white; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
  font-size: 25px; /* Tamaño de fuente de los enlaces */
}

.navLink:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

.accordion-item {
  position: relative; /* Necesario para el posicionamiento absoluto del contenido */
}

.accordionBody {
  position: absolute; /* Posiciona el contenido de forma absoluta */
  
 
  right: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
  padding: 20px;
  margin: 1px;
  border-radius: 0 0 8px 8px; /* Bordes redondeados en la parte inferior */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: opacity 0.3s ease-out; /* Solo cambiar la opacidad */
  opacity: 0; /* Oculta el contenido inicialmente */
  visibility: hidden; /* Evita que ocupe espacio cuando está oculto */
  z-index: 0; /* Mantiene el acordeón detrás del navbar */
}

.accordionBody.show {
  opacity: 1; /* Muestra el contenido */
  visibility: visible; /* Asegura que el contenido sea visible */
  z-index: 1; /* Asegura que el acordeón esté por encima */
}

.logoutButton {
  color: red;
  border: 2px solid transparent;
  background: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: border 0.3s, color 0.3s, background-color 0.3s;
}

.logoutButton:hover {
  border: 2px solid red;
  color: white; /* Cambia el color de texto al pasar el mouse */
  background-color: red; /* Cambia el fondo al pasar el mouse */
}
.footer {
  background-color: #0070f3; /* Color de fondo del footer */
  color: white;
  text-align: center;
  min-height: 100%;
  padding: 20px 0;
  margin-top: auto; /* Asegura que el footer esté al final de la página */
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.socialLinks {
  margin-top: 10px;
}
.linkylinky{
  color: white;
  text-decoration: none;
}
.socialLink {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

.socialLink:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

.userMenu {
  position: relative;
}

.userButton {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
  transition: transform 0.2s;
}

.userButton:hover {
  transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 200px;
  text-align: center;
  z-index: 10;
  animation: fadeIn 0.3s ease-out;
}

.greeting {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.logoutButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
